.container{
    margin-top: 120px;
}

.head-card{
    background-color: hsl(10, 79%, 65%);
    width: 360px;
    padding: 20px;
    border-radius: 15px;
    color: hsl(27, 66%, 92%);
}
h5{
    font-weight: 400;
}
.head-card.card-body{
    background-color: hsl(33, 100%, 98%);
    margin-top: 20px;
    min-height: 350px;
    color: hsl(25, 47%, 15%);

}
.head-card.card-body h3{
    margin-bottom: 30px;
}
hr{
    margin-top: 20px;
    margin-bottom: 10px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer h5{
    font-weight: 700;
}
.card-footer p{
    font-size: .8em;
    color: hsl(28, 10%, 53%);
}